// 芯片

.i-ac-chip
    background-clip: content-box
    padding: .2em
    &,&:before,&:after
        background-color: currentColor
    &:before
        width: .8em
        height: 1px
        box-shadow: 0 .15em,0 -.15em
    &:after
        width: 1px
        height: .8em
        box-shadow: .15em 0,-.15em 0