// 程序代码

.i-ac-code
    &[class^=i-]:before
        width: @css{max(.06em,1px)}
        height: .8em
        background-color:currentColor
        transform: translate(-50%,-50%) rotate(15deg)
 
    &:after
        width: .9em
        height: .4em
        // 线厚度0.06em,以0.14em渐变点为分界,前后各0.06/2.
        background-image: linear-gradient(45deg,transparent .11em,currentColor .11em .17em,transparent .17em),linear-gradient(-45deg,transparent .11em,currentColor .11em .17em,transparent .17em),linear-gradient(135deg,transparent .11em,currentColor .11em .17em,transparent .17em),linear-gradient(-135deg,transparent .11em,currentColor .11em .17em,transparent .17em)