// 禁止

.i-f-disabled
    border: .08em solid currentColor
    border-radius: 50%
    
    &:before
        width: 1em
        height: .08em
        background-color:currentColor
        transform: rotate(45deg)