// 下载

.i-a-download
    border-bottom: 1px solid

    &:before,&:after
        left: 50%
        transform: translateX(-50%)

    &:before
        top: .2em
        width: .2em
        height: .4em
        background-color: currentColor
 
    &:after
        top: .6em
        width: .5em
        border-style: solid
        border-width: .3em .25em 0
        border-color: currentColor transparent transparent
        border-bottom: none