// excel

.i-a-excel
    &:before
        top: .1em
        left: .1em
        width: .45em
        height: .45em
        background-color: currentColor
        clip-path: polygon(0% 0%,35% 50%,0% 100%,30% 100%,50% 65%,70% 100%,100% 100%,65% 50%,100% 0%,70% 0%,50% 35%,30% 0%)
 
    &:after
        top: 0
        left: 0
        width: .2em
        height: .1em
        box-shadow: .7em 0.08em,.7em 0.26em,.7em 0.44em,.1em 0.62em,.4em 0.62em,.7em 0.62em,.1em 0.80em,.4em 0.80em,.7em 0.80em