// 眼睛

.i-ac-eye
    &[class^=i-]:before
        width: .8em
        height: .5em
        border: 1px solid currentColor
        border-radius:0 100% 0 100%/0 100% 0 100%
        transform: translate(-50%,-50%) rotate(-28deg)
 
    &:after
        width: .3em
        height:.3em
        border-radius:50%
        background-color:currentColor