// 耳机

.i-a-headphone
    &:before,&:after
        left: 50%
        transform: translateX(-50%)

    &:before
        top: 10%
        width: .6em
        height: .6em
        border: @css{max(.04em,1px)} solid
        border-radius: 50% 50% 0 0
        border-bottom: none
 
    &:after
        top: 60%
        width: .2em
        height: .3em
        border-radius: 50%
        box-shadow: .3em 0,-.3em 0