// heart

.i-a-heart
    &:before,&:after
        width: .5em
        height: .5em
        background-color: currentColor

    &:before
        top: 10.98%
        left: 7.33%
        border-radius: 50%
        box-shadow: .35em 0
 
    &:after
        top:28.66%
        left: 50%
        transform: translateX(-50%) rotate(45deg)