// 层次

.i-a-hierarchy
    background-image: linear-gradient(90deg,transparent calc(50% - .5px),currentColor calc(50% + .5px),transparent 50%);

    &:before
        left: 0
        top: 0
        width: .2em
        height: .2em
        box-shadow: .4em 0,.4em .4em,0 .8em,.4em .8em,.8em .8em

    &:after
        top: .5em
        left: .1em
        width: .8em
        height: .3em
        border: 1px solid
        border-bottom: none