// info 信息 information

.i-a-info
    border: .08em solid currentColor
    border-radius: 50%
    
    &:before, &:after
        background-color: currentColor
        left: 50%
        transform: translateX(-50%)

    &:before
        top: 15%
        width: .1em
        height: .1em
        box-shadow: -0.04em 0.17em,-0.05em .47em,0.05em .47em

    &:after
        top: 35%
        width: .1em
        height: .4em