// 语种,网络

.i-ac-lang
    border: 1px solid currentColor
    border-radius: 50%

    &:before, &:after
        border: 1px solid currentColor
         
    &:before
        height: .4em
        width: .916em
        border-color: currentColor transparent
    &:after
        height: 1em
        width: .5em
        border-radius: 50%