// 闪电

.i-a-lighting
    &:before
        top: 0
        left: 0
        width: 1em
        height: 1em
        background-color: currentColor
        clip-path: polygon(65.5% 2.4%,50.0% 42.3%,73.8% 42.3%,34.5% 97.6%,50.0% 57.7%,26.2% 57.7%)