// 超链接

.i-a-link
    background-clip: content-box
    padding: 0 .3em
    background-image: linear-gradient(transparent calc(50% - .5px),currentColor calc(50% + .5px),transparent 50%)
    &:before,&:after
        top: .35em
        width: .4em
        height: .3em
        border: 1px solid
        border-radius: .15em
    &:before
        left: .1em
        border-right-color: transparent

    &:after
        right: .1em
        border-left-color: transparent