// 菜单,3横杠图标

.i-f-menu
    &:before
        width: 1em
        height: @css{max(.1em,2px)}
        background-color:currentColor
        box-shadow: 0 .25em,0 -.25em
    // 3个点菜单,就是改width就可
    &.dot:before
        width: @css{max(.1em,2px)}