// 美元,钱

.ico-money
    display: inline-flex
    flex-direction: column
    justify-content: center
    align-items: center
    background-image: linear-gradient(90deg,transparent .48em, currentColor .48em .54em,transparent .54em)

    &:before,&:after
        width: .5em
        height: .4em
        border-style: solid
        transform: rotate(38deg)

    &:before
        border-width: .06em .08em .08em .06em
        border-radius: 50% 50% 0% 50%
        border-right-color: transparent
 
    &:after
        border-width: .08em .06em .06em .08em
        border-radius: 0% 50% 50% 50%
        border-left-color: transparent