// music

.i-a-music
    &:before
        left: 55%
        top: .1em
        width: .5em
        height: .7em
        transform: translateX(-50%)
        border: 1px solid
        border-top: .1em solid
        border-bottom: none
 
    &:after
        top: 0
        left: 0
        width: @css{max(.2em,4px)}
        height: @css{max(.1em,3px)}
        border-radius: 50%
        box-shadow: .12em .75em,.6em .75em