// 药丸

.i-f-pill
    &:before
        width: .3em
        height: .9em
        border: 1px solid
        border-radius: .3em
        transform:rotate(45deg)
        background-image:linear-gradient(transparent 0 50%,currentColor 50%)