// 加号

.i-ac-plus
    
    &:before, &:after
        background-color: currentColor
        width: 1em
        height: @css{max(.1em,2px)}

    &[class^=i-]:after
        transform: translate(-50%,-50%) rotate(90deg)
    