// powonff电源开关

.i-ac-powonff
    &:before
        width: .8em
        height: .8em
        border: .08em solid currentColor
        border-radius: 50%
        border-top-color: transparent

    &[class^=i-]:after
        top: 30%
        width: .08em
        height: .5em
        background-color: currentColor