// 查找图标,放大镜

.i-a-search
    // 放大镜圈圈
    &:before
        left: 5%
        top: 5%
        width: 0.6em
        height: 0.6em
        border: .08em solid currentColor
        border-radius: 50%
    // 放大镜支架
    &:after
        top: 55%
        left: 55%
        width: .5em
        height: .08em
        background-color: currentColor
        border-radius: 50% 0 0 50%
        transform-origin: 0 0
        transform: rotate(45deg)