// 发送 send

.i-f-send
    &:before
        width: .45em
        height: .9em
        clip-path: polygon(50% 0,100% 100%,50% 85%,0% 100%)
        background-color:currentColor
        transform:rotate(45deg)