// 设置调节图标

.i-ac-set
    &:before
        width: .8em
        height: 2px
        box-shadow: 0 -.175em,0 .175em

    &:after
        width: @css{max(.16em,4px)}
        height: @css{max(.16em,4px)}
        border-radius: 50%
        box-shadow: .14em -.175em,-.14em .175em