// 瞄准镜

.i-ac-sight
    border-radius:50%
    background-image: radial-gradient(circle .06em,currentColor 0 100%,transparent calc(100% + 1px)),linear-gradient(90deg,transparent calc(50% - .5px),currentColor calc(50% + .5px),transparent 50%),linear-gradient(transparent calc(50% - .5px),currentColor calc(50% + .5px),transparent 50%)
    &, &:before, &:after
        border: 1px solid
    &:before
        width: .5em
        height: .12em
        border-bottom: none
        border-top: none
    &:after
         width: .12em
         height: .5em
         border-left: none
         border-right: none
        