// 声音

.i-a-sound
    &:before,&:after
        top:50%

    &:before
        left:10%
        transform:translateY(-50%)
        width:.2em
        height:.6em
        border-color: transparent
        border-style: solid
        border-width: .15em .2em .15em 0
        border-right-color: currentColor
 
    &:after
        right: 0
        width: .6em
        height: .6em
        transform: translateY(-50%) rotate(45deg)
        background-image: radial-gradient(circle .6em at left bottom,transparent 30%,currentColor 32% calc(32% + max(.04em,1px)), transparent calc(34% + max(.04em,1px)) 60%,currentColor 62% calc(62% + max(.04em,1px)), transparent calc(64% + max(.04em,1px)) 90%,currentColor 92% calc(92% + max(.04em,1px)),transparent)