// 三角形箭头

.i-f-triarr
    &:before
        width: 0
        height: 0
        border: .5em solid transparent
        border-bottom: .866em solid currentColor
        border-top: none

    &.down:before
        transform: rotate(180deg)

    &.left:before
        transform: rotate(-90deg)

    &.right:before
        transform: rotate(90deg)
