// usb

.i-fv-usb
    &:before,&:after
        border: 1px solid
    &:before
        width: .3em
        height: .2em
        padding-bottom:.06em
        border-bottom: none
        background-clip: content-box
        background-image:repeating-linear-gradient(90deg,transparent 0 20%,currentColor 20% 40%)

    &:after
        width: .4em
        height: .6em
        border-radius: 0 0 20% 20%