// 用户

.i-fv-user
    &:before, &:after
        background-color: currentColor

    &:before
        width: .4em
        height: .4em
        border-radius: 50%

    &:after
        width: .8em
        height: .4em
        border-radius: 50% 50% 0 0/70% 70% 0 0