// 水 water

.i-a-water
    &:before
        top: 25%
        left: 50%
        transform: translateX(-50%) rotate(45deg)
        width: .6em
        height: .6em
        border-radius: 0 50% 50%
        box-shadow: inset -.1em 0,inset .4em 0
