// 井号 well

.i-ac-well
    &:before,&:after
        background-color: transparent

    &:before
        width: .8em
        height: @css{max(.04em,1px)}
        box-shadow: 0 -.16em,0 .16em
 
    &[class^=i-]:after
        width: @css{max(.04em,1px)}
        height: .8em
        box-shadow: -.16em 0,.16em -.04em
        transform: translate(-50%,-50%) rotate(8deg)