.ico {
  display: inline-block;
  pointer-events: none;
  vertical-align: middle;
  width: 1em;
  height: 1em;
}
.ico,
.ico:before,
.ico:after {
  box-sizing: border-box;
}
.ico:before,
.ico:after {
  content: '';
  display: inline-block;
}
.ico-moon {
  border-radius: 50%;
  box-shadow: inset -0.4em -0.1em;
}
.ico-sun {
  position: relative;
  width: 0.6em;
  height: 0.6em;
  border-radius: 50%;
  margin: 0.2em;
  background-color: currentColor;
}
.ico-sun:before,
.ico-sun:after {
  position: absolute;
  width: 0.1em;
  height: 0.1em;
  background-color: transparent;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.ico-sun:before {
  box-shadow: 0.45em 0, 0 0.45em, -0.45em 0, 0 -0.45em, 0.38em 0, 0 0.38em, -0.38em 0, 0 -0.38em;
}
.ico-sun:after {
  transform: rotate(45deg);
  box-shadow: 0.45em 0, 0 0.45em, -0.45em 0, 0 -0.45em, 0.38em 0, 0 0.38em, -0.38em 0, 0 -0.38em;
}
.ico-star5 {
  position: relative;
  margin-top: calc(0.726 * calc(0.951 * 0.53em));
  margin-bottom: calc(2 * 0.53em * 0.951 * calc(0.951 - 0.726));
}
.ico-star5,
.ico-star5:before,
.ico-star5:after {
  width: 0;
  height: 0;
  border-width: calc(0.726 * calc(0.951 * 0.53em)) calc(0.951 * 0.53em);
  border-style: solid;
  border-color: transparent;
  border-bottom: 0;
  border-top-color: currentColor;
  transform-origin: calc(0.951 * 0.53em) calc(0.31 * 0.53em);
}
.ico-star5:before,
.ico-star5:after {
  position: absolute;
  top: calc(-0.726 * calc(0.951 * 0.53em));
  left: calc(-0.951 * 0.53em);
}
.ico-star5:before {
  transform: rotate(72deg);
}
.ico-star5:after {
  transform: rotate(144deg);
}
.ico-triarr {
  width: 0;
  height: 0;
  border: 0.5em solid transparent;
}
.ico-triarr.down {
  border-top: 0.866em solid;
  border-bottom: none;
  margin: 0.067em 0;
}
.ico-triarr.up {
  border-bottom: 0.866em solid;
  border-top: none;
  margin: 0.067em 0;
}
.ico-triarr.left {
  border-right: 0.866em solid;
  border-left: none;
  margin: 0 0.067em;
}
.ico-triarr.right {
  border-left: 0.866em solid;
  border-right: none;
  margin: 0 0.067em;
}
.ico-plus {
  position: relative;
}
.ico-plus:before,
.ico-plus:after {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: currentColor;
}
.ico-plus:before {
  width: 1em;
  height: 4px;
}
.ico-plus:after {
  width: 4px;
  height: 1em;
}
.ico-minus {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.ico-minus:before {
  width: 1em;
  height: 4px;
  background-color: currentColor;
}
.ico-menu {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.ico-menu:before {
  width: 1em;
  height: 0.16em;
  box-shadow: inset 0.16em 0.16em, 0 0.32em, 0 -0.32em;
}
.ico-menu.dot:before {
  width: 0.16em;
}
.ico-anglearr {
  position: relative;
}
.ico-anglearr:before {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: calc(0.7 * 1em);
  height: calc(0.7 * 1em);
  border: 0.07em solid currentColor;
  border-right: none;
  border-bottom: none;
}
.ico-anglearr.down:before {
  transform: rotate(-135deg);
  bottom: calc(1em * 0.396);
}
.ico-anglearr.up:before {
  transform: rotate(45deg);
  top: calc(1em * 0.396);
}
.ico-anglearr.left:before {
  transform: rotate(-45deg);
  left: calc(1em * 0.396);
}
.ico-anglearr.right:before {
  transform: rotate(135deg);
  right: calc(1em * 0.396);
}
.ico-search {
  position: relative;
}
.ico-search:before,
.ico-search:after {
  position: absolute;
}
.ico-search:before {
  left: 5%;
  top: 5%;
  width: calc(0.6 * 1em);
  height: calc(0.6 * 1em);
  border: 0.07em solid currentColor;
  border-radius: 50%;
}
.ico-search:after {
  top: 55%;
  left: 55%;
  width: 0.5em;
  height: 0.07em;
  background-color: currentColor;
  border-radius: 50% 0 0 50%/50% 0 0 50%;
  transform-origin: 0 0;
  transform: rotate(45deg);
}
.ico-disabled {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 0.08em solid currentColor;
  border-radius: 50%;
}
.ico-disabled:before {
  width: 1em;
  height: 0.08em;
  background-color: currentColor;
  transform: rotate(45deg);
}
.ico-info {
  position: relative;
  border: 0.08em solid currentColor;
  border-radius: 50%;
}
.ico-info:before,
.ico-info:after {
  position: absolute;
  background-color: currentColor;
  left: 0;
  right: 0;
  margin: auto;
}
.ico-info:before {
  top: 10%;
  width: 0.18em;
  height: 0.18em;
  border-radius: 50%;
}
.ico-info:after {
  bottom: 15%;
  width: 0.14em;
  height: 0.4em;
}
.ico-bookmark {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ico-bookmark:before {
  width: 0.5em;
  height: 0.4em;
  background-color: currentColor;
}
.ico-bookmark:after {
  border-style: solid;
  border-width: 0 0.25em 0.4em;
  border-color: transparent currentColor;
}
.ico-mail {
  position: relative;
}
.ico-mail:before,
.ico-mail:after {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 0.8em;
  height: 0.5em;
  border-style: solid;
}
.ico-mail:before {
  border-width: 0.2em 0.3em 0.3em;
  border-color: transparent currentColor;
}
.ico-mail:after {
  height: 0.56em;
  border-width: 0.22em 0.32em 0.32em;
  border-color: currentColor transparent;
}
.ico-powonff {
  position: relative;
}
.ico-powonff:before,
.ico-powonff:after {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
.ico-powonff:before {
  top: 0;
  bottom: 0;
  width: 0.8em;
  height: 0.8em;
  border: 0.06em solid currentColor;
  border-radius: 50%;
  border-top-color: transparent;
}
.ico-powonff:after {
  top: 0.1em;
  width: 0.06em;
  height: 0.5em;
  background-color: currentColor;
}
.ico-pc {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ico-pc:before {
  width: 0.7em;
  height: calc(0.7em * 3 / 4);
  border: 0.06em solid currentColor;
}
.ico-pc:after {
  width: 0.6em;
  height: 0.2em;
  border-style: solid;
  border-width: 0 0.1em 0.15em;
  border-color: currentColor transparent;
}
.ico-phone {
  position: relative;
}
.ico-phone:before,
.ico-phone:after {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
.ico-phone:before {
  top: 0;
  bottom: 0;
  width: calc(0.8em * 0.618);
  height: 0.8em;
  border: 0.02em solid currentColor;
  border-radius: 0.03em;
  box-shadow: 0 0.04em, inset 0 0.01em;
}
.ico-phone:after {
  bottom: 0.15em;
  width: 0.06em;
  height: 0.06em;
  border: 0.01em solid currentColor;
  border-radius: 0.02em;
  box-shadow: 0.12em -0.24em, 0 -0.24em, -0.12em -0.24em, 0.12em -0.36em, 0 -0.36em, -0.12em -0.36em, 0.12em -0.48em, 0 -0.48em, -0.12em -0.48em;
}
.ico-user {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.ico-user:before,
.ico-user:after {
  background-color: currentColor;
}
.ico-user:before {
  width: 0.4em;
  height: 0.4em;
  border-radius: 50%;
}
.ico-user:after {
  width: 0.8em;
  height: 0.4em;
  border-radius: 50% 50% 0 0/70% 70% 0 0;
}
.ico-chart {
  position: relative;
  border: 0.02em solid currentColor;
  border-top: none;
  border-right: none;
  overflow: hidden;
}
.ico-chart:before,
.ico-chart:after {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
.ico-chart:before {
  bottom: 0;
  width: 0.1em;
  height: 0.6em;
  border: 1px solid currentColor;
  box-shadow: -0.32em 0.4em, -0.16em 0.2em, 0.16em 0.1em, 0.32em 0.3em;
}
.ico-chart:after {
  top: 0.3em;
  width: 0.8em;
  height: 1px;
  background-color: currentColor;
  transform: rotate(-30deg);
}
.ico-eye {
  position: relative;
}
.ico-eye:before,
.ico-eye:after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}
.ico-eye:before {
  width: 0.8em;
  height: 0.5em;
  border: 1px solid currentColor;
  border-radius: 0 100% 0 100%/0 100% 0 100%;
  transform: rotate(-28deg);
}
.ico-eye:after {
  width: 0.3em;
  height: 0.3em;
  border-radius: 50%;
  background-color: currentColor;
}
.ico-lock {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ico-lock:before {
  width: 0.6em;
  height: 0.4em;
  border-radius: 50% 50% 0 0/50% 50% 0 0;
  border: 0.1em solid currentColor;
  border-bottom: none;
}
.ico-lock:after {
  width: 0.8em;
  height: 0.4em;
  background-image: radial-gradient(circle, transparent 0.06em, currentColor 0.06em);
}
.ico-flag {
  position: relative;
}
.ico-flag:before,
.ico-flag:after {
  position: absolute;
}
.ico-flag:before {
  left: 0.15em;
  top: 0.1em;
  width: 0.08em;
  height: 0.9em;
  background-color: currentColor;
  border-radius: 0.04em 0.04em 0 0/0.04em 0.04em 0 0;
}
.ico-flag:after {
  left: 0.2em;
  top: 0.2em;
  width: 0.4em;
  height: 0.4em;
  border-radius: 0 0.05em;
  background-color: currentColor;
  box-shadow: 0.24em 0.12em;
  transform: rotate(5deg);
}
.ico-home {
  position: relative;
  width: 0.707em;
  height: 0.707em;
  box-shadow: inset 0.05em 0.05em;
  transform: rotate(45deg);
}
.ico-home:before,
.ico-home:after {
  position: absolute;
  left: 0.1em;
}
.ico-home:before {
  top: 0.1em;
  border-width: 0.263em;
  border-style: solid;
  border-color: currentColor transparent transparent currentColor;
}
.ico-home:after {
  top: calc(0.707em - 0.1em);
  width: 0.717em;
  height: 0.4em;
  border-width: 0.1em 0.25em 0;
  border-style: solid;
  border-color: currentColor;
  transform-origin: 0 0;
  transform: rotate(-45deg);
}
.ico-face {
  position: relative;
  border-radius: 50%;
  border: 0.04em solid currentColor;
}
.ico-face:before,
.ico-face:after {
  position: absolute;
  border-radius: 50%;
}
.ico-face:before {
  top: 0.3em;
  left: 0.18em;
  width: 0.1em;
  height: 0.15em;
  background-color: currentColor;
  box-shadow: 0.46em 0;
}
.ico-face:after {
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0.8em;
  height: 0.8em;
  border: 0.04em solid transparent;
  border-bottom-color: currentColor;
}
.ico-num {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ico-num:before,
.ico-num:after {
  width: 0.4em;
  height: 0.4em;
  border: 0.1em solid currentColor;
}
.ico-num:before {
  border-bottom-width: 0.05em;
}
.ico-num:after {
  border-top-width: 0.05em;
}
.ico-num.n0:after,
.ico-num.n1:before,
.ico-num.n1:after,
.ico-num.n4:before,
.ico-num.n7:after {
  border-top-color: transparent;
}
.ico-num.n0:before,
.ico-num.n1:before,
.ico-num.n1:after,
.ico-num.n4:after,
.ico-num.n7:before,
.ico-num.n7:after,
.ico-num.n9:after {
  border-bottom-color: transparent;
}
.ico-num.n1:before,
.ico-num.n1:after,
.ico-num.n2:before,
.ico-num.n3:before,
.ico-num.n3:after,
.ico-num.n4:after,
.ico-num.n5:after,
.ico-num.n7:before,
.ico-num.n7:after,
.ico-num.n9:after {
  border-left-color: transparent;
}
.ico-num.n2:after,
.ico-num.n5:before,
.ico-num.n6:before {
  border-right-color: transparent;
}
.ico-lang {
  position: relative;
  border: 0.04em solid currentColor;
  border-radius: 50%;
}
.ico-lang:before,
.ico-lang:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 0.04em solid currentColor;
}
.ico-lang:before {
  height: 0.4em;
  width: 0.916em;
  border-color: currentColor transparent;
}
.ico-lang:after {
  height: 1em;
  width: 0.5em;
  border-radius: 50%;
}
.ico-well {
  position: relative;
}
.ico-well:before,
.ico-well:after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  background-color: transparent;
}
.ico-well:before {
  width: 0.8em;
  height: 0.04em;
  box-shadow: 0 -0.16em, 0 0.16em;
}
.ico-well:after {
  width: 0.04em;
  height: 0.8em;
  box-shadow: -0.16em 0, 0.16em -0.04em;
  transform: rotate(8deg);
}
.ico-code {
  position: relative;
}
.ico-code:before,
.ico-code:after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}
.ico-code:before {
  width: 0.04em;
  min-width: 1px;
  height: 0.8em;
  background-color: currentColor;
  transform: rotate(15deg);
}
.ico-code:after {
  width: 0.9em;
  height: 0.4em;
  background-image: linear-gradient(45deg, transparent 0.12em, currentColor 0.12em 0.16em, transparent 0.16em), linear-gradient(-45deg, transparent 0.12em, currentColor 0.12em 0.16em, transparent 0.16em), linear-gradient(135deg, transparent 0.12em, currentColor 0.12em 0.16em, transparent 0.16em), linear-gradient(-135deg, transparent 0.12em, currentColor 0.12em 0.16em, transparent 0.16em);
}
.ico-pic {
  position: relative;
  overflow: hidden;
  border: 1px solid;
  border-bottom: none;
}
.ico-pic:before,
.ico-pic:after {
  position: absolute;
  background-color: currentColor;
}
.ico-pic:before {
  left: 0.3em;
  top: 0.3em;
  width: 0.2em;
  height: 0.2em;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.ico-pic:after {
  left: 0.3em;
  top: 0.6em;
  width: 0.6em;
  height: 0.6em;
  box-shadow: 0.212em -0.353em;
  transform-origin: 0 0;
  transform: rotate(45deg);
}
.ico-set {
  position: relative;
}
.ico-set:before,
.ico-set:after {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.ico-set:before {
  width: 0.8em;
  height: 2px;
  box-shadow: 0 -0.175em, 0 0.175em;
}
.ico-set:after {
  width: 0.16em;
  height: 0.16em;
  min-width: 4px;
  min-height: 4px;
  border-radius: 50%;
  box-shadow: 0.14em -0.175em, -0.14em 0.175em;
}
.ico-ball8 {
  position: relative;
  border-radius: 50%;
  background-image: radial-gradient(circle at 50% 0.4em, transparent 0.3em, currentColor 0.32em);
}
.ico-ball8:before,
.ico-ball8:after {
  position: absolute;
  left: 50%;
  border: 0.03em solid;
  border-radius: 50%;
  transform: translateX(-50%);
}
.ico-ball8:before {
  top: 0.24em;
  width: 0.16em;
  height: 0.16em;
}
.ico-ball8:after {
  top: 0.38em;
  width: 0.2em;
  height: 0.2em;
}
.ico-download {
  position: relative;
  border-bottom: 0.04em solid;
}
.ico-download:before,
.ico-download:after {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.ico-download:before {
  top: 0.2em;
  width: 0.2em;
  height: 0.4em;
  background-color: currentColor;
}
.ico-download:after {
  top: 0.6em;
  width: 0.5em;
  border-style: solid;
  border-width: 0.3em 0.25em 0;
  border-color: currentColor transparent transparent;
  border-bottom: none;
}
.ico-font {
  position: relative;
}
.ico-font:before {
  content: 'A';
  position: absolute;
  left: 50%;
  top: 50%;
  font-family: serif;
  font-style: normal;
  font-size: 1em;
  transform: translate(-50%, -50%);
}
.ico-star4 {
  position: relative;
}
.ico-star4:before,
.ico-star4:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 1em;
  height: 1em;
  background-color: currentColor;
}
.ico-star4:before {
  clip-path: polygon(50% 0, 75% 50%, 50% 100%, 25% 50%);
}
.ico-star4:after {
  clip-path: polygon(50% 25%, 100% 50%, 50% 75%, 0 50%);
}
.ico-share {
  position: relative;
}
.ico-share:before,
.ico-share:after {
  position: absolute;
}
.ico-share:before {
  left: 0.1em;
  top: 50%;
  width: 0.2em;
  height: 0.2em;
  min-width: 4px;
  min-height: 4px;
  border-radius: 50%;
  background-color: currentColor;
  box-shadow: 0.62em 0.32em, 0.62em -0.32em;
  transform: translateY(-50%);
}
.ico-share:after {
  left: 0.54em;
  top: 50%;
  width: 0.424em;
  height: 0.424em;
  border: 1px solid;
  border-top: none;
  border-right: none;
  transform: translateY(-50%) scaleX(2) rotate(45deg);
}
.ico-wlan {
  position: relative;
}
.ico-wlan:before,
.ico-wlan:after {
  position: absolute;
  left: 50%;
}
.ico-wlan:before {
  top: 50%;
  width: 0.7em;
  height: 0.7em;
  transform: translate(-50%, -50%) rotate(-135deg);
  background-image: radial-gradient(at 0 0, transparent 0.22em, currentColor 0.23em 0.3em, transparent 0.31em 0.42em, currentColor 0.43em 0.5em, transparent 0.51em 0.62em, currentColor 0.63em 0.7em, transparent 0.71em);
}
.ico-wlan:after {
  top: 84%;
  width: 0.14em;
  height: 0.14em;
  border-radius: 50%;
  background-color: currentColor;
  transform: translateX(-50%);
}
.ico-envelop {
  position: relative;
}
.ico-envelop:before,
.ico-envelop:after {
  position: absolute;
  left: 50%;
  width: 0.8em;
  border: 1px solid currentColor;
}
.ico-envelop:before {
  top: 50%;
  height: 0.6em;
  border-radius: 0.04em;
  transform: translate(-50%, -50%);
}
.ico-envelop:after {
  top: calc(50% - 0.26em);
  width: 0.566em;
  height: 0.566em;
  border-left: none;
  border-top: none;
  transform: translate(-50%, -50%) scaleY(0.75) rotate(45deg);
}
.ico-map {
  position: relative;
}
.ico-map:before,
.ico-map:after {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.ico-map:before {
  top: 0.08em;
  width: 0.56em;
  height: 0.56em;
  border-radius: 50%;
  background-image: radial-gradient(transparent 18%, currentColor 20%);
}
.ico-map:after {
  top: 0.5em;
  border-style: solid;
  border-color: currentColor transparent transparent;
  border-width: 0.42em 0.242em 0;
  border-bottom: none;
}