i[class^=i-] {
  display: inline-block;
  pointer-events: none;
  width: 1em;
  height: 1em;
  box-sizing: border-box;
}
i[class^=i-]:before,
i[class^=i-]::after {
  content: '';
  display: inline-block;
  box-sizing: border-box;
}
i[class^=i-f] {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
i[class^=i-fv] {
  flex-direction: column;
}
i[class^=i-a] {
  position: relative;
}
i[class^=i-a]:before,
i[class^=i-a]:after {
  position: absolute;
}
i[class^=i-ac]:before,
i[class^=i-ac]:after {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.i-moon {
  border-radius: 50%;
  box-shadow: inset -0.4em -0.1em;
}
.i-a-sun[class^=i-] {
  width: 0.6em;
  height: 0.6em;
}
.i-a-sun {
  border-radius: 50%;
  margin: 0.2em;
  background-color: currentColor;
}
.i-a-sun:before,
.i-a-sun:after {
  left: 50%;
  top: 50%;
  width: 0.1em;
  height: 0.1em;
  background-color: transparent;
  transform: translate(-50%, -50%);
}
.i-a-sun:before {
  box-shadow: 0.45em 0, 0 0.45em, -0.45em 0, 0 -0.45em, 0.38em 0, 0 0.38em, -0.38em 0, 0 -0.38em;
}
.i-a-sun:after {
  transform: translate(-50%, -50%) rotate(45deg);
  box-shadow: 0.45em 0, 0 0.45em, -0.45em 0, 0 -0.45em, 0.38em 0, 0 0.38em, -0.38em 0, 0 -0.38em;
}
.i-a-star5 {
  margin-top: calc(0.726 * calc(0.951 * 0.53em));
  margin-bottom: calc(2 * 0.53em * 0.951 * calc(0.951 - 0.726));
}
.i-a-star5[class^=i-],
.i-a-star5:before,
.i-a-star5:after {
  width: 0;
  height: 0;
  border-width: calc(0.726 * calc(0.951 * 0.53em)) calc(0.951 * 0.53em);
  border-style: solid;
  border-color: transparent;
  border-bottom: 0;
  border-top-color: currentColor;
  transform-origin: calc(0.951 * 0.53em) calc(0.31 * 0.53em);
}
.i-a-star5:before,
.i-a-star5:after {
  top: calc(-0.726 * calc(0.951 * 0.53em));
  left: calc(-0.951 * 0.53em);
}
.i-a-star5:before {
  transform: rotate(72deg);
}
.i-a-star5:after {
  transform: rotate(144deg);
}
.i-f-triarr:before {
  width: 0;
  height: 0;
  border: 0.5em solid transparent;
  border-bottom: 0.866em solid currentColor;
  border-top: none;
}
.i-f-triarr.down:before {
  transform: rotate(180deg);
}
.i-f-triarr.left:before {
  transform: rotate(-90deg);
}
.i-f-triarr.right:before {
  transform: rotate(90deg);
}
.i-ac-plus:before,
.i-ac-plus:after {
  background-color: currentColor;
  width: 1em;
  height: max(.1em,2px);
}
.i-ac-plus[class^=i-]:after {
  transform: translate(-50%, -50%) rotate(90deg);
}
.i-f-minus:before {
  width: 1em;
  height: max(.1em,2px);
  background-color: currentColor;
}
.i-f-menu:before {
  width: 1em;
  height: max(.1em,2px);
  background-color: currentColor;
  box-shadow: 0 0.25em, 0 -0.25em;
}
.i-f-menu.dot:before {
  width: max(.1em,2px);
}
.i-a-anglearr:before {
  width: 0.7em;
  height: 0.7em;
  border: 0.1em solid currentColor;
  border-right: none;
  border-bottom: none;
}
.i-a-anglearr.down:before {
  bottom: 0.396em;
  left: 50%;
  transform: translateX(-50%) rotate(-135deg);
}
.i-a-anglearr.up:before {
  top: 0.396em;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}
.i-a-anglearr.left:before {
  left: 0.396em;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}
.i-a-anglearr.right:before {
  right: 0.396em;
  top: 50%;
  transform: translateY(-50%) rotate(135deg);
}
.i-a-search:before {
  left: 5%;
  top: 5%;
  width: 0.6em;
  height: 0.6em;
  border: 0.08em solid currentColor;
  border-radius: 50%;
}
.i-a-search:after {
  top: 55%;
  left: 55%;
  width: 0.5em;
  height: 0.08em;
  background-color: currentColor;
  border-radius: 50% 0 0 50%;
  transform-origin: 0 0;
  transform: rotate(45deg);
}
.i-f-disabled {
  border: 0.08em solid currentColor;
  border-radius: 50%;
}
.i-f-disabled:before {
  width: 1em;
  height: 0.08em;
  background-color: currentColor;
  transform: rotate(45deg);
}
.i-a-info {
  border: 0.08em solid currentColor;
  border-radius: 50%;
}
.i-a-info:before,
.i-a-info:after {
  background-color: currentColor;
  left: 50%;
  transform: translateX(-50%);
}
.i-a-info:before {
  top: 15%;
  width: 0.1em;
  height: 0.1em;
  box-shadow: -0.04em 0.17em, -0.05em 0.47em, 0.05em 0.47em;
}
.i-a-info:after {
  top: 35%;
  width: 0.1em;
  height: 0.4em;
}
.i-fv-bookmark:before {
  width: 0.5em;
  height: 0.4em;
  background-color: currentColor;
}
.i-fv-bookmark:after {
  border-style: solid;
  border-width: 0 0.25em 0.4em;
  border-color: transparent currentColor;
}
.i-ac-mail:before,
.i-ac-mail:after {
  width: 0.8em;
  height: 0.5em;
  border-style: solid;
}
.i-ac-mail:before {
  border-width: 0.2em 0.3em 0.3em;
  border-color: transparent currentColor;
}
.i-ac-mail:after {
  height: 0.56em;
  border-width: 0.22em 0.32em 0.32em;
  border-color: currentColor transparent;
}
.i-ac-powonff:before {
  width: 0.8em;
  height: 0.8em;
  border: 0.08em solid currentColor;
  border-radius: 50%;
  border-top-color: transparent;
}
.i-ac-powonff[class^=i-]:after {
  top: 30%;
  width: 0.08em;
  height: 0.5em;
  background-color: currentColor;
}
.i-fv-pc:before {
  width: 0.7em;
  height: 0.525em;
  border: 0.06em solid currentColor;
}
.i-fv-pc:after {
  width: 0.6em;
  height: 0.2em;
  border-style: solid;
  border-width: 0 0.1em 0.15em;
  border-color: currentColor transparent;
}
.i-a-phone:before,
.i-a-phone:after {
  left: 50%;
  transform: translateX(-50%);
}
.i-a-phone:before {
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(0.8em * 0.618);
  height: 0.8em;
  border: 0.02em solid currentColor;
  border-radius: 0.03em;
  box-shadow: 0 0.04em, inset 0 0.01em;
}
.i-a-phone:after {
  bottom: 0.15em;
  width: 0.06em;
  height: 0.06em;
  border: 1px solid currentColor;
  border-radius: 0.01em;
  box-shadow: 0.12em -0.24em, 0 -0.24em, -0.12em -0.24em, 0.12em -0.36em, 0 -0.36em, -0.12em -0.36em, 0.12em -0.48em, 0 -0.48em, -0.12em -0.48em;
}
.i-fv-user:before,
.i-fv-user:after {
  background-color: currentColor;
}
.i-fv-user:before {
  width: 0.4em;
  height: 0.4em;
  border-radius: 50%;
}
.i-fv-user:after {
  width: 0.8em;
  height: 0.4em;
  border-radius: 50% 50% 0 0/70% 70% 0 0;
}
.i-a-chart {
  border: 1px solid currentColor;
  border-top: none;
  border-right: none;
  overflow: hidden;
}
.i-a-chart:before {
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 0.1em;
  height: 0.6em;
  border: 1px solid currentColor;
  box-shadow: -0.32em 0.4em, -0.16em 0.2em, 0.16em 0.1em, 0.32em 0.3em;
}
.i-a-chart:after {
  top: 0.3em;
  width: 0.8em;
  height: 1px;
  background-color: currentColor;
  transform: rotate(-30deg);
}
.i-ac-eye[class^=i-]:before {
  width: 0.8em;
  height: 0.5em;
  border: 1px solid currentColor;
  border-radius: 0 100% 0 100%/0 100% 0 100%;
  transform: translate(-50%, -50%) rotate(-28deg);
}
.i-ac-eye:after {
  width: 0.3em;
  height: 0.3em;
  border-radius: 50%;
  background-color: currentColor;
}
.i-fv-lock:before {
  width: 0.6em;
  height: 0.4em;
  border-radius: 50% 50% 0 0;
  border: 0.1em solid currentColor;
  border-bottom: none;
}
.i-fv-lock:after {
  width: 0.8em;
  height: 0.4em;
  background-image: radial-gradient(circle, transparent 0.06em, currentColor 0.07em);
}
.i-a-flag:before {
  left: 0.15em;
  top: 0.1em;
  width: 0.08em;
  height: 0.9em;
  background-color: currentColor;
  border-radius: 0.04em 0.04em 0 0;
}
.i-a-flag:after {
  left: 0.2em;
  top: 0.2em;
  width: 0.4em;
  height: 0.4em;
  border-radius: 0 0.05em;
  background-color: currentColor;
  box-shadow: 0.24em 0.12em;
  transform: rotate(5deg);
}
.i-a-home[class^=i-] {
  width: 0.7em;
  height: 0.7em;
  box-shadow: inset 0.05em 0.05em;
  transform: rotate(45deg);
}
.i-a-home:before,
.i-a-home:after {
  left: 0.1em;
}
.i-a-home:before {
  top: 0.1em;
  border-width: 0.263em;
  border-style: solid;
  border-color: currentColor transparent transparent currentColor;
}
.i-a-home:after {
  top: 0.6em;
  width: 0.717em;
  height: 0.4em;
  border-width: 0.1em 0.25em 0;
  border-style: solid;
  border-color: currentColor;
  transform-origin: 0 0;
  transform: rotate(-45deg);
}
.i-a-face {
  border-radius: 50%;
  border: max(.05em,1px) solid currentColor;
}
.i-a-face:before,
.i-a-face:after {
  border-radius: 50%;
}
.i-a-face:before {
  top: 0.3em;
  left: 0.18em;
  width: max(.1em,2px);
  height: max(.15em,3px);
  background-color: currentColor;
  box-shadow: 0.46em 0;
}
.i-a-face:after {
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 0.8em;
  height: 0.8em;
  border: max(.04em,2px) solid transparent;
  border-bottom-color: currentColor;
}
.i-fv-num:before,
.i-fv-num:after {
  width: 0.4em;
  height: 0.4em;
  border: 0.1em solid currentColor;
}
.i-fv-num:before {
  border-bottom-width: 0.05em;
}
.i-fv-num:after {
  border-top-width: 0.05em;
}
.i-fv-num.n0:after,
.i-fv-num.n1:before,
.i-fv-num.n1:after,
.i-fv-num.n4:before,
.i-fv-num.n7:after {
  border-top-color: transparent;
}
.i-fv-num.n0:before,
.i-fv-num.n1:before,
.i-fv-num.n1:after,
.i-fv-num.n4:after,
.i-fv-num.n7:before,
.i-fv-num.n7:after,
.i-fv-num.n9:after {
  border-bottom-color: transparent;
}
.i-fv-num.n1:before,
.i-fv-num.n1:after,
.i-fv-num.n2:before,
.i-fv-num.n3:before,
.i-fv-num.n3:after,
.i-fv-num.n4:after,
.i-fv-num.n5:after,
.i-fv-num.n7:before,
.i-fv-num.n7:after,
.i-fv-num.n9:after {
  border-left-color: transparent;
}
.i-fv-num.n2:after,
.i-fv-num.n5:before,
.i-fv-num.n6:before {
  border-right-color: transparent;
}
.i-ac-lang {
  border: 1px solid currentColor;
  border-radius: 50%;
}
.i-ac-lang:before,
.i-ac-lang:after {
  border: 1px solid currentColor;
}
.i-ac-lang:before {
  height: 0.4em;
  width: 0.916em;
  border-color: currentColor transparent;
}
.i-ac-lang:after {
  height: 1em;
  width: 0.5em;
  border-radius: 50%;
}
.i-ac-well:before,
.i-ac-well:after {
  background-color: transparent;
}
.i-ac-well:before {
  width: 0.8em;
  height: max(.04em,1px);
  box-shadow: 0 -0.16em, 0 0.16em;
}
.i-ac-well[class^=i-]:after {
  width: max(.04em,1px);
  height: 0.8em;
  box-shadow: -0.16em 0, 0.16em -0.04em;
  transform: translate(-50%, -50%) rotate(8deg);
}
.i-ac-code[class^=i-]:before {
  width: max(.06em,1px);
  height: 0.8em;
  background-color: currentColor;
  transform: translate(-50%, -50%) rotate(15deg);
}
.i-ac-code:after {
  width: 0.9em;
  height: 0.4em;
  background-image: linear-gradient(45deg, transparent 0.11em, currentColor 0.11em 0.17em, transparent 0.17em), linear-gradient(-45deg, transparent 0.11em, currentColor 0.11em 0.17em, transparent 0.17em), linear-gradient(135deg, transparent 0.11em, currentColor 0.11em 0.17em, transparent 0.17em), linear-gradient(-135deg, transparent 0.11em, currentColor 0.11em 0.17em, transparent 0.17em);
}
.i-a-pic {
  overflow: hidden;
  border: 1px solid;
  border-bottom: none;
}
.i-a-pic:before,
.i-a-pic:after {
  background-color: currentColor;
}
.i-a-pic:before {
  left: 0.3em;
  top: 0.3em;
  width: 0.2em;
  height: 0.2em;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.i-a-pic:after {
  left: 0.3em;
  top: 0.6em;
  width: 0.6em;
  height: 0.6em;
  box-shadow: 0.212em -0.353em;
  transform-origin: 0 0;
  transform: rotate(45deg);
}
.i-ac-set:before {
  width: 0.8em;
  height: 2px;
  box-shadow: 0 -0.175em, 0 0.175em;
}
.i-ac-set:after {
  width: max(.16em,4px);
  height: max(.16em,4px);
  border-radius: 50%;
  box-shadow: 0.14em -0.175em, -0.14em 0.175em;
}
.i-a-ball8 {
  border-radius: 50%;
  background-image: radial-gradient(circle at 50% 0.4em, transparent 0.3em, currentColor 0.32em);
}
.i-a-ball8:before,
.i-a-ball8:after {
  left: 50%;
  border: 0.03em solid;
  border-radius: 50%;
  transform: translateX(-50%);
}
.i-a-ball8:before {
  top: 0.24em;
  width: 0.16em;
  height: 0.16em;
}
.i-a-ball8:after {
  top: 0.38em;
  width: 0.2em;
  height: 0.2em;
}
.i-a-download {
  border-bottom: 1px solid;
}
.i-a-download:before,
.i-a-download:after {
  left: 50%;
  transform: translateX(-50%);
}
.i-a-download:before {
  top: 0.2em;
  width: 0.2em;
  height: 0.4em;
  background-color: currentColor;
}
.i-a-download:after {
  top: 0.6em;
  width: 0.5em;
  border-style: solid;
  border-width: 0.3em 0.25em 0;
  border-color: currentColor transparent transparent;
  border-bottom: none;
}
.i-ac-font[class^=i-]:before {
  content: 'A';
  font-family: serif;
  font-style: normal;
  font-size: 1em;
}
.i-a-star4:before,
.i-a-star4:after {
  left: 0;
  top: 0;
  width: 1em;
  height: 1em;
  background-color: currentColor;
}
.i-a-star4:before {
  clip-path: polygon(50% 0, 75% 50%, 50% 100%, 25% 50%);
}
.i-a-star4:after {
  clip-path: polygon(50% 25%, 100% 50%, 50% 75%, 0 50%);
}
.i-a-share:before {
  left: 0.1em;
  top: 50%;
  width: max(.2em,4px);
  height: max(.2em,4px);
  border-radius: 50%;
  background-color: currentColor;
  box-shadow: 0.62em 0.32em, 0.62em -0.32em;
  transform: translateY(-50%);
}
.i-a-share:after {
  left: 0.54em;
  top: 50%;
  width: 0.424em;
  height: 0.424em;
  border: 1px solid;
  border-top: none;
  border-right: none;
  transform: translateY(-50%) scaleX(2) rotate(45deg);
}
.i-a-wlan:before,
.i-a-wlan:after {
  left: 50%;
}
.i-a-wlan:before {
  top: 50%;
  width: 0.7em;
  height: 0.7em;
  transform: translate(-50%, -50%) rotate(-135deg);
  background-image: radial-gradient(at 0 0, transparent 0.22em, currentColor 0.23em 0.3em, transparent 0.31em 0.42em, currentColor 0.43em 0.5em, transparent 0.51em 0.62em, currentColor 0.63em 0.7em, transparent 0.71em);
}
.i-a-wlan:after {
  top: 84%;
  width: 0.14em;
  height: 0.14em;
  border-radius: 50%;
  background-color: currentColor;
  transform: translateX(-50%);
}
.i-a-envelop:before,
.i-a-envelop:after {
  left: 50%;
  width: 0.8em;
  border: 1px solid currentColor;
}
.i-a-envelop:before {
  top: 50%;
  height: 0.6em;
  border-radius: 0.04em;
  transform: translate(-50%, -50%);
}
.i-a-envelop:after {
  top: calc(50% - 0.26em);
  width: 0.566em;
  height: 0.566em;
  border-left: none;
  border-top: none;
  transform: translate(-50%, -50%) scaleY(0.75) rotate(45deg);
}
.i-a-map:before,
.i-a-map:after {
  left: 50%;
  transform: translateX(-50%);
}
.i-a-map:before {
  top: 0.08em;
  width: 0.56em;
  height: 0.56em;
  border-radius: 50%;
  background-image: radial-gradient(transparent 18%, currentColor 20%);
}
.i-a-map:after {
  top: 0.5em;
  border-style: solid;
  border-color: currentColor transparent transparent;
  border-width: 0.42em 0.242em 0;
  border-bottom: none;
}
.i-fv-money {
  background-image: linear-gradient(90deg, transparent 0.48em, currentColor 0.48em 0.54em, transparent 0.54em);
}
.i-fv-money:before,
.i-fv-money:after {
  width: 0.5em;
  height: 0.4em;
  border-style: solid;
  transform: rotate(38deg);
}
.i-fv-money:before {
  border-width: 0.06em 0.08em 0.08em 0.06em;
  border-radius: 50% 50% 0% 50%;
  border-right-color: transparent;
}
.i-fv-money:after {
  border-width: 0.08em 0.06em 0.06em 0.08em;
  border-radius: 0% 50% 50% 50%;
  border-left-color: transparent;
}
.i-fv-cny:before {
  width: 0.576em;
  height: 0.5em;
  box-shadow: inset 0 min(-.08em,-1px);
  background-image: linear-gradient(60deg, transparent 0.24em, currentColor 0.25em 0.33em, transparent 0.34em), linear-gradient(-60deg, transparent 0.24em, currentColor 0.25em 0.33em, transparent 0.34em);
}
.i-fv-cny:after {
  width: max(.08em,1px);
  height: 0.3em;
  background-color: currentColor;
}
.i-a-word:before {
  top: 0.1em;
  left: 0.05em;
  width: 0.54em;
  height: 0.45em;
  background-color: currentColor;
  clip-path: polygon(0% 0%, 25% 100%, 41% 100%, 50% 32%, 59% 100%, 75% 100%, 100% 0%, 84% 0%, 67% 68%, 58% 0%, 42% 0%, 33% 68%, 16% 0%);
}
.i-a-word:after {
  top: 0;
  left: 0;
  width: 0.3em;
  height: 0.08em;
  box-shadow: 0.6em 0.1em, 0.6em 0.28em, 0.6em 0.46em, 0.1em 0.64em, 0.35em 0.64em, 0.6em 0.64em, 0.1em 0.82em, 0.35em 0.82em, 0.6em 0.82em;
}
.i-a-excel:before {
  top: 0.1em;
  left: 0.1em;
  width: 0.45em;
  height: 0.45em;
  background-color: currentColor;
  clip-path: polygon(0% 0%, 35% 50%, 0% 100%, 30% 100%, 50% 65%, 70% 100%, 100% 100%, 65% 50%, 100% 0%, 70% 0%, 50% 35%, 30% 0%);
}
.i-a-excel:after {
  top: 0;
  left: 0;
  width: 0.2em;
  height: 0.1em;
  box-shadow: 0.7em 0.08em, 0.7em 0.26em, 0.7em 0.44em, 0.1em 0.62em, 0.4em 0.62em, 0.7em 0.62em, 0.1em 0.8em, 0.4em 0.8em, 0.7em 0.8em;
}
.i-a-hierarchy {
  background-image: linear-gradient(90deg, transparent calc(50% - 0.5px), currentColor calc(50% + 0.5px), transparent 50%);
}
.i-a-hierarchy:before {
  left: 0;
  top: 0;
  width: 0.2em;
  height: 0.2em;
  box-shadow: 0.4em 0, 0.4em 0.4em, 0 0.8em, 0.4em 0.8em, 0.8em 0.8em;
}
.i-a-hierarchy:after {
  top: 0.5em;
  left: 0.1em;
  width: 0.8em;
  height: 0.3em;
  border: 1px solid;
  border-bottom: none;
}